header.header
  .container.header__container
    .header__inner
      .header__block 
        .header__logo 
          //- logo
          .logo
            a.logo__link(href="/")
              +svgsprite("logo", 'logo') 
        .header__tags 
          //- tags
          ul.tags
            li.tags__item
              a.tags__link(href="#") Сайты
            li.tags__item
              a.tags__link(href="#") Сервисы
            li.tags__item
              a.tags__link(href="#") Маркетинг
            li.tags__item
              a.tags__link(href="#") SEO
            li.tags__item
              a.tags__link(href="#") Приложения
            li.tags__item
              a.tags__link(href="#") Брендинг
      .header__block
        .header__nav
          //- nav
          nav.nav 
            ul.nav__list 
              li.nav__item 
                a.nav__link(href="#") Кейсы
              li.nav__item 
                a.nav__link(href="#") Студия
              li.nav__item 
                a.nav__link(href="#") Блог
              li.nav__item._desktop 
                a.nav__link(href="#") Работа у нас
              li.nav__item 
                a.nav__link(href="#") Контакты
        .header__button 
          a.button Обсудить проект
        .header__pull 
          //- pull
          .pull.js-pull
            .pull__icon 
              div 
              div 
      
