.header {
  $root: &;

  position: fixed;
  z-index: $header-z-index;
  top: 0;
  left: 0;
  width: 100%;
  height: map-get($header-height, sm);

  @each $key in (md, lg, xl, xxl) {
    @include up($key) {
      height: map-get($header-height, $key);
    }
  }

  &__container {
    @include media-up(lg) {
      max-width: none;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__inner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -10px;
    padding: 22px 0;
    @include media-up(md) {
      padding: 16px 0;
    }
  }

  &__block {
    padding: 0 10px;
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 20px;
    width: 120px;
    flex: 0 0 auto;
    color: $color-base;
    @include media-up(md) {
      width: 116px;
    }
    @include media-up(lg) {
      width: 100px;
    }
    @include media-up(xxl) {
      width: 141px;
      margin-right: 33px;
    }
  }

  &__tags {
    display: none;
    @include media-up(lg) {
      display: block;
    }
  }

  &__nav {
    display: none;
    @include media-up(md) {
      display: block;
    }
  }

  &__button {
    display: none;
    margin-left: 47px;
    @include media-up(md) {
      display: block;
    }
    @include media-up(xxl) {
      margin-left: 54px;
    }
  }

  &__pull {
    margin-left: 25px;
    @include media-up(lg) {
      display: none;
    }
  }
}
